---
layout: single
author_profile: false
title: " "
header:
  overlay_image: /assets/images/ben-neale.jpg
  caption: "Photo credit: [**Ben Neale**](https://unsplash.com)"

intro:
  - excerpt: '<p style="font-size:25px; font-style:bold">Chi-Hua Wu</p><br>I created this website to document my previous data analysis projects. <br>The following are my recent posts. Enjoy reading!'
feature_row:
  - image_path: /assets/200504/scott-graham.jpeg
    alt: "placeholder image 1"
    title: "Potoo Solutions Capstone Project"
    excerpt: "This is an End-to-end Machine Learning Project."
    url: "https://chw18019.github.io/Potoo_solutions/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/200217/ks-kyung.jpg
    alt: "Placeholder 2"
    title: "Data Visualization using Python"
    excerpt: "Ths is a simple EDA and visualization showcase with Python."
    url: "https://chw18019.github.io/Visualizaion/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/190426/freestocks.jpeg
    title: "Web Scraping using Online News Dataset"
    excerpt: "This is a web scraping project using `Scrapy` to fetch more data from links."
    url: "https://chw18019.github.io/online_news_web_scraping/"
    btn_label: "Read More"
    btn_class: "btn--primary"


---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}