---
layout: single
author_profile: false
title: " "
header:
  overlay_image: /assets/images/ben-neale.jpg
  zcaption: "Photo credit: [**Ben Neale**](https://unsplash.com)"

intro:
  - excerpt: '<p style="margin: 15px 15px 15px 15px ;font-size:25px; font-style:bold">Chi-Hua Wu</p><br>A Taiwanese person, self-learner, and achiever<br>I created this website to document my previous data analysis projects.'
feature_row:
  - image_path: /assets/200504/scott-graham.jpeg
    alt: "placeholder image 1"
    title: <p style="font-size:25px; font-style:bold">Potoo Solutions Capstone Project</p>
    excerpt: <p style="font-size:16px">An End-to-end Machine Learning Project</p>
    url: "https://chw18019.github.io/Potoo_solutions/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/200217/ks-kyung.jpg
    alt: "Placeholder 2"
    title: <p style="font-size:25px; font-style:bold">Data Visualization using Python</p>
    excerpt: <p style="font-size:16px">Simple EDA and visualization with Python</p>
    url: "https://chw18019.github.io/Visualizaion/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/190426/freestocks.jpeg
    title: <p style="font-size:25px; font-style:bold">Web Scraping using Online News Dataset</p>
    excerpt: <p style="font-size:16px">Using Python Scrapy to fetch more data from links</p>
    url: "https://chw18019.github.io/online_news_web_scraping/"
    btn_label: "Read More"
    btn_class: "btn--primary"


---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}